name: Test-drive controller

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  rollout:
    runs-on: ubuntu-20.04
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Download dataset
        run: |
          bash ./download_dataset.sh
      
      - name: Run Simple controller rollout
        run: |
          python tinyphysics.py --model_path ./models/tinyphysics.onnx --data_path ./data/00000.csv --controller simple
